*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    background:
    linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
    url("images/noisy-background.jpg");
    background-size: cover;
    z-index: -1;
}

.main-container{
    display: flex;
    flex-direction: column;
    
    
}


header img{
    width: 59.5px;
    height: 17px;
    opacity: 1;
    border-width: 1.5px;
    transform: rotate(180deg);
    margin-top: 3rem;
    margin-left: 40px;
    cursor: pointer;
}


.titles .container {
    display: flex;
    
    gap: 1rem;
    align-items: flex-start;
    flex: 1 1 100%;
    min-width: 0;
   
}

.titles h1{
    font-family: Beatrice Deck Trial;
    font-weight: 800;
    font-style: Extrabold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: -8px;

}

.titles .container p{
    font-family: Beatrice Trial;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: rgba(138, 138, 138, 1);

}

.titles .container p:first-child{
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
}

.products .container {
    display: flex;
    gap: 3rem;
    justify-content: space-around;
 
}

.products .container .left-part{
    display: flex;
    flex-direction: column;
    gap:1px;
    flex: 0.5 1 0%;    
    min-width: 0;
    
}

.products .container .left-part form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
 
}

.products .container .left-part button{
    box-sizing: border-box;
    width: 50%;
    height: 44px;
    opacity: 1;
    background-color: rgba(217, 217, 217, 1);
    border: none;

    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;

    text-align:left;
    padding-left: 2rem;
    padding-right: 2rem;

    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;

    cursor: pointer;

}

.products .container .left-part button img{
    width: 30px;
    height: 30px;
    
}


.products .container .left-part form h3{
    font-family: Beatrice Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    

}
.products .container .left-part form .sa-title{
    margin-top: 14px;
}


.products .container .left-part form input{
    
    border: 1px solid rgba(217, 217, 217, 1);
    
    width: 100%;
    height: auto;
    box-sizing: border-box;
    
    opacity: 1;
    border:1px solid rgba(217, 217, 217, 1);
    padding: 1rem;  
    background-color: transparent;
}

.products .container .left-part form input.error {
    border:2px solid #e74c3c;

}
.products .container .left-part form input.error::placeholder {
    color: #e74c3c;

}

.products .container .left-part form input.success {
    border:2px solid #2ecc71;
}

.products .container .left-part form .name{
    display: flex;
    gap: 0.5rem;
    
}

.products .container .left-part form .name input{
    width: 100%;
}

.products .container .left-part form .city-p{
    display: flex;
    gap: 0.5rem;
}

.products .container .left-part form .city-p input{
    width: 100%;
}

.container form input::placeholder{
    font-family: Beatrice Trial;
    font-weight: 400;
    font-style: regular;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 0px;
    color:rgba(94, 94, 94, 1);

}

.container .right-part{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgba(217, 217, 217, 1);
    gap: 2rem;
    padding: 1.5rem;
    position: relative;
    flex: 0.3 1 0;
    min-width: 0;
}

.container .right-part .products-area{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container .right-part .t-amount{
    position: absolute;
    top: -1px;
    right: -1px;
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    color:rgba(0, 14, 138, 1);
    background-color: white;
    width: 34px;
    height: 34px;
    text-align: center;
}

.container .right-part .t-amount{
    position: absolute;
    top: -1px;
    right: -1px;
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    color:rgba(0, 14, 138, 1);
    background-color: white;
    width: 34px;
    height: 34px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.container .right-part h3{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;

}

.container .right-part .product-container img{
    width: 30%;
    height: auto;
    opacity: 1;
    border:1px solid rgba(217, 217, 217, 1);
}

.container .right-part .product-t{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;

    

}

.container .right-part .product-t span{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;

}

.container .right-part .product-s{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.66);
    display: flex;

}

.container .right-part .amount-co{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.container .right-part .amount{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    color: rgba(0, 14, 138, 1);
    margin-top: auto;
    
    
}

.container .right-part .cost{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    color: rgba(0, 14, 138, 1);
}

.container .right-part .product-d{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
    
}

.container .right-part .product-container{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 1rem;

}

.container .right-part .sub-t , .shipping{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
}

.container .right-part .sub-t{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(223, 223, 223, 1);
    padding-top: 10px;
    width: 100%;
    
}

.container .right-part .shipping{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(223, 223, 223, 1);
    padding-bottom: 10px;
    margin-top: -20px;
    width: 100%;
}
.container .right-part .shipping span{
    font-family: Beatrice Deck Trial;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;

    line-height: 100%;
    letter-spacing: 0px;
}

.container .right-part .total{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;

}


@media (min-width: 2561px) {

    .main-container{
        display: grid;
        grid-template-rows: repeat(3, 1fr,1fr,2fr);
        grid-template-columns: repeat(2,1fr,1fr);
        gap: 24px;
        row-gap: 3rem;
        column-gap: 1rem;
    
    }

    .main-container .titles h1{
        font-size: 4rem;
    }

    .main-container .titles .container p{
        font-size: 1.5rem;
    }
    
    .main-container .products .container form input{
        width: 40vw;
        padding: 1rem;
    }
    .main-container .products .container .left-part form input::placeholder{
        font-size: 1.2rem;
        opacity: 0.66;
        
    }

    .main-container .products .container{
        align-items: center;
    }

    .main-container .products .container form h3{
        font-size: 1.5rem;
    }

    .main-container .products .container .left-part form .name input{
        width: 50%;  
    }

    .main-container .products .container .left-part button{
        margin: 0;
        width: 50%;
        padding: 2rem;
        margin-top: 1rem;
        font-size: 1.5rem;
        justify-content: space-between;
    }
    .main-container .products .container .left-part form .city-p input{
        width: 50%;  
    }

    .main-container .products .container .right-part h3{
        font-size: 1.5rem;
        
    }

    .main-container .products .container .right-part .product-container img{
        width: 100%;
        height: 15rem;
    }
    .main-container .products .container .right-part .product-container .product-t{
        gap: 5rem;
        align-items: center;
    }
     .main-container .products .container .right-part .product-container .product-t span{
        font-size: 1.5rem;
    }
    

    .main-container .products .container .right-part .product-container .product-d p{
        font-size: 1.5rem;
        text-wrap: nowrap;
    }
    .main-container .products .container .right-part .product-container .product-d .amount{
        display: flex;
        justify-content: space-between;
        gap: 22rem;
        
    }
    
    .main-container .products .container .right-part .sub-t{

        font-size: 1.5rem;
        justify-content: space-between;
        align-items: center;
        gap: 10rem;
    }
    .main-container .products .container .right-part .shipping{
        
        font-size: 1.5rem;
        justify-content: space-between;
        align-items: center;
    }
    .main-container .products .container .right-part .total{
        width: 100%;
        font-size: 1.5rem;
        justify-content: space-between;
        align-items: center;
    }
    
    .main-container .products .container .right-part .shipping span{
        font-size: 1.2rem;
        text-wrap: nowrap;
        color: rgba(0, 0, 0, 0.66);
    }
    .main-container .products .container .right-part .t-amount p{
        font-size: 1.5rem;
    }
}

@media (max-width: 870px) {

    .main-container header{
        margin: 0;
        padding: 0;
        
    }

    .main-container{
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
    }

    .main-container .titles{

        padding:1rem;    
    }

    .main-container .titles h1{
        font-size: 2rem;
    }
    
    .main-container .titles .container{
        display: flex;
        justify-content: space-around;
    }

    .main-container .titles .container p{
        font-size: 0.8rem;
    }

    .products .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        gap: 1rem;
        
    }

    .products .container .left-part{
        align-self: flex-start;
        margin: 0;
        padding: 0;
        flex: 1 1 100%;
        min-width: 0;

    }

    .products .container .left-part form{
        flex: 1 1 100%;
        min-width: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
   
    }
    
    .products .container .left-part form h3{
        font-size: 12px;
    }

    .products .container .left-part form input{
        width: 100%;
    }

    .products .container .left-part .name input{
       width: 100%;
    
    }

    .products .container .left-part .city-p input{
        width: 100%;
       
    }

    .products .container .left-part button{
        width: 100%;
        justify-content: space-between;
        padding-right: 1rem;
        padding-left: 1rem;
        align-self: flex-end;
        box-sizing: border-box;
        
    }

    .products .container .right-part{
        align-self: flex-start;
        padding: 1.5rem;
        flex: 1 1 100%;
        min-width: 0;
        flex-wrap: wrap;
          
    }

    .products .container .right-part .t-amount{
        right: 3rem;
        top: 1rem;
    }

    .products .container .right-part .product-container{
        padding: 0px;
        border: none;
    }
   
}





