*{
    margin: 0px;
    padding: 0px;
}

body ,html{
    width: 100%;
    height: 100%;
}

body{
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
    url("images/noisy-background.jpg");
    background-size: cover;
}


header img{
    width: 70px;
    height: 50px;
    opacity: 1;
    border-width: 1.5px;
}

.titles{
    margin-top: 80px;
    margin-left: 40px;
}

.titles .container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-top: 30px;
}

.titles h1{
    font-family: Beatrice Deck Trial;
    font-weight: 800;
    font-style: Extrabold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: -8px;

}

.titles .container p{
    font-family: Beatrice Trial;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: rgba(138, 138, 138, 1);

}

.titles .container p:first-child{
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
}

.products .container {
    display: flex;
    justify-content: space-around;
    gap: 570px;

    margin-top: 50px;
}

.products .container .left-part form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.products .container .left-part form h3{
    font-family: Beatrice Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);

}
.products .container .left-part form .sa-title{
    margin-top: 14px;
}


.products .container .left-part form input{
    
    border: 1px solid rgba(217, 217, 217, 1);
    
    width: 468px;
    height: 44px;
    top: 309px;
    left: 50px;
    opacity: 1;
    border:1px solid rgba(217, 217, 217, 1);
    padding-left: 20px;  
    background-color: transparent;
}

.products .container .left-part form .name{
    display: flex;
    width: 490px;
    height: 44px;   /*Sor*/
    gap: 7px;

}

.products .container .left-part form .city-p{
    display: flex;
    width: 490px;
    height: 44px; /*Sor*/
    gap: 7px;
}

.container form input::placeholder{
    font-family: Beatrice Trial;
    font-weight: 400;
    font-style: regular;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 0px;
    color:rgba(94, 94, 94, 1);

}

.container .right-part{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgba(217, 217, 217, 1);
    
    gap: 30px;
    padding: 30px;
    position: relative;
}

.container .right-part .t-amount{
    position: absolute;
    top: -1px;
    right: -1px;
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    color:rgba(0, 14, 138, 1);
    background-color: white;
    width: 34px;
    height: 34px;
    text-align: center;
}

.container .right-part .t-amount{
    position: absolute;
    top: -1px;
    right: -1px;
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    color:rgba(0, 14, 138, 1);
    background-color: white;
    width: 34px;
    height: 34px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.container .right-part h3{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;

}

.container .right-part .product-container img{
    width: 113px;
    height: 134px;
    opacity: 1;
    border:1px solid rgba(217, 217, 217, 1);
}

.container .right-part .product-t{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: capitalize;

}

.container .right-part .product-s{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.66);
}

.container .right-part .amount{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    color: rgba(0, 14, 138, 1);
    margin-top: auto;

}


.container .right-part .product-d{
    display: flex;
    flex-direction: column;
    row-gap: 7px;  /*Sor*/

}


.container .right-part .product-container{
   display: flex;
   justify-content: space-between;
   gap: 10px;
}

.container .right-part .sub-t , .shipping{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;


}

.container .right-part .sub-t{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid rgba(223, 223, 223, 1);
    padding-top: 10px;
}

.container .right-part .shipping{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(223, 223, 223, 1);
    padding-bottom: 10px;
    margin-top: -20px;
}
.container .right-part .shipping span{
    font-family: Beatrice Deck Trial;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;

    line-height: 100%;
    letter-spacing: 0px;
}

.container .right-part .total{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    width: 100%;

    display: flex;
    justify-content: space-between;



}

