*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body , html{
    width: 100%;
    height : 100%;
    
}

body button,a{
    cursor: pointer;
}

body{
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
    url("images/noisy-background.jpg");
    background-size: cover;
}

.head .container{
    display: flex;
    justify-content:space-between;
    margin-left: 20px;
    align-items: center;
    width: 1400px;

    margin-top: 30px;
    padding: 20px;   
}

.head .container .menu-icon{
    width: 26px;
    height: 16px;
    
}

.left-section a{
    text-decoration: none;
    margin: 10px;
    color: rgb(0,0,0,1);
    font-size: 18px;
    font-family: "Beatrice Deck Trial";
    font-weight: 500;
    line-height: 100%;
    cursor: pointer;
}

.middle-section{
    display: flex;
    justify-content: center;   
}

.middle-section .amblem{
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background: linear-gradient(
        45deg,
        rgba(217,217,217,1) 50%,
        black 50%
    );
}

 
.left-section .menu-icon{
    width: 30px;
    height: 30px;
}

.container .right-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section .like-button{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 20px;
    background-color: #262222;
    cursor: pointer;
}

.right-section .like-button img{
    transform: rotate(-45deg);
    padding-top: 7px;
    padding-right: 2px;
}

.right-section .cart-button{
    height: 50px;
    width: 76px;
    border:1px solid #262222;
    border-radius: 22px;
    background-color: #262222;
    color: #F5F5F5;

    font-size: 12px;
    font-family: "Beatrice Deck Trial";
    cursor: pointer;
}

.right-section .shop-button{
    height: 50px;
    width: 50px;
    background-color: #fff;
    margin-left: -5px;
    
    border: 7px solid rgba(0, 0, 0, 1);
    border-radius: 100%;
    cursor: pointer;

    
}

.right-section .shop-button img{
    width: 20px;
    height: 19px;
    padding-left: 1px;
    padding-top: 2px;
}

.right-section .profile-button{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 20px;
    background-color: #262222;
    color: #F5F5F5;
    cursor: pointer;
}

.right-section .profile-button img{
    padding-top: 4px;
    opacity: 1;
}   

.gender .container{
    margin-top: 30px;
    margin-left: 50px;
    
}

.gender .container a{

    padding: 4px;

    font-family: "Beatrice Deck Trial";
    font-weight:400;
    letter-spacing: 2px;
    line-height: 100%;

    display: block;

    color: rgb(0,0,0,1);
    text-decoration: none;


    
}
.gender .container .search-box input{
    width: 367px;
    height: 40px;

    display: block;
    background: rgba(55, 44, 44, 0.15);

    padding-left:40px;
    margin-top: 15px;
    margin-left: 3px;

    border-style: none;
    border-radius: 2px;

    position: relative;

    background-image: url("icons/search-icon.svg");   /*bak*/
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
     background-clip: padding-box;
    
}

.gender .container .search-box input::placeholder{
    font-family: "Beatrice Deck Trial";
    font-weight:400;
    line-height: 100%;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.66);

    position: absolute;
    right: 20px; 
}

.new-colection {
    margin-top: 70px;
    margin-left: 40px;
}
.new-colection .container{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
       
}

.new-colection .container .left-part{
   display: flex;
   flex-direction: column;
   align-items: space-between;
   justify-content: center;
   gap: 165px;

}


.new-colection .container .left-part .buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}


.new-colection .container .left-part h1{
    font-family: "Beatrice Deck Trial";
    font-weight: 800px;
    font-size: 48px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 2px;
    width: max-content;

}

.new-colection .container .left-part h1 span{
    display: block;   /*Sor*/
    margin-top: -30px;
}

.new-colection .container .left-part p{
    font-family: "Beatrice Deck Trial";
    font-weight: 400;
    line-height: 100%;
    padding: 4px;
    width: max-content;
    
}

.new-colection .container .left-part .gts-button{
    width: 265px;
    height: 40px;

    background: rgba(55, 44, 44, 0.15);
    border-style: none;
    
    font-family: "Beatrice Deck Trial";
    font-weight: 400;
    letter-spacing: 2px; 

    text-align: start;

    padding-left: 30px;
    background-image: url(icons/right-arrow.png);
    background-position: 90%;
    background-size: 55px 16px;
    background-repeat: no-repeat;
   
}

.new-colection .container .left-part .gts-button a{
    text-decoration: none;
    font-family: "Beatrice Deck Trial";
    font-weight: 500;
    letter-spacing: 2px; 
    text-align: start;
    padding-left: 8px;
    color:rgba(0, 0, 0, 1)

    
  
}

.new-colection .container .left-part .back-button{
    width: 40px;
    height: 40px;
    border:1px solid rgba(163, 163, 163, 0.66);
    background-color: transparent;

}
.new-colection .container .left-part .back-button img{
    width: 13px;
    height: 13px;
    
    text-align: center;
    padding: 0px;
    opacity: 0.66;

}

.new-colection .container .left-part .forward-button img{
    width: 13px;
    height: 13px;
    text-align: center;
    padding: 0px;
}



.new-colection .container .left-part .forward-button{
    width: 40px;
    height: 40px;

    margin-left: 10px;
    border:1px solid rgba(163, 163, 163, 1);
    background-color: transparent;
}

.new-colection .container .right-part{
    display: flex;
    align-items:center;
    justify-content: start;
   
     
} 

.new-colection .container .right-part .white-clothes{
    width: 356px;
    height: 366px;
    filter: none;
    border: 1px solid rgba(215, 215, 215, 1);
    background-size: cover;
    
      
}

.new-colection .container .right-part .black-clothes{
    width: 356px;
    height: 366px;
    filter: none;
    border: 1px solid rgba(215, 215, 215, 1);
    margin-left: 30px;
    object-fit: cover;   
   
}

.new-this-week{
    margin-left: 50px;
    margin-top: 100px;
    position: relative;
}

.new-this-week .see-all{

    font-family: "Beatrice Trial";
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: right;
    color: rgba(94, 94, 94, 1);

    position: absolute;

    top: 70px;
    right: 220px;

}

.new-this-week .container{
    display: flex;
    justify-content:flex-start;
    gap: 30px;
    align-items: center;
}


.new-this-week  h1{
    font-family: "Beatrice Deck Trial";
    font-weight: 800px;
    font-size: 48px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 2px;

    position: relative;
    
}

.new-this-week  h1 .this-week{
    display: block;
    width: max-content;
    margin-top: -30px;
    
}

.new-this-week h1 .amount{
    position: absolute;
    bottom: 50px;
    left: 275px;

    font-family: "Beatrice Deck Trial";
    font-size: 20px;
    letter-spacing: 2px;

    color: rgba(0, 14, 138, 1);
    
}


.new-this-week .container .product-container > img{
    width: 305px;
    height: 314px;
    border: 1px solid rgba(215, 215, 215, 1);
    margin: 0px 7px;
      
}

.new-this-week .container .product-container{
    position: relative;
}

.new-this-week .container .product-container .product-type{
    font-size: 12px;
    font-family: "Beatrice Deck Trial";
    font-weight: 500;
    color: rgba(0, 0, 0, 0.66);
    line-height: 100%;
    margin-left: 7px;
}

.new-this-week .container .product-container .product-description{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    
    line-height: 100%;
    letter-spacing: 0px;

    margin-top: 7px;
    margin-left: 7px;
    display: flex;
    justify-content: space-between;


}

.new-this-week .container .product-container .add-button{
    height: 34px;
    width: 34px; 
    background-color: rgba(220, 220, 220, 0.44);
    border: 1px rgba(12, 12, 12, 1);
    position: absolute;
    bottom: 38px;
    left: 150px;

    font-size: 10px;
    text-align: center;
    color: rgba(12, 12, 12, 1); 
}

.new-this-week .buttons{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.new-this-week .buttons button{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(163, 163, 163, 1);
    text-align: center;
    margin-top: 50px;
    background-color: transparent;
    

}

.new-this-week .buttons button img{
    width: 13px;
    height: 13px;
    opacity: 1;
}

.new-this-week .buttons button:nth-child(1){
    opacity: 0.66;
}
.new-this-week .buttons button:nth-child(1) img{
    opacity: 0.66;
}

.collections{
    margin-top: 60px;
    margin-left: 10px;  
}

.collections .container{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    
}

.collections .container .bottom{
    display: flex;
}

.collections h1{
    font-family: "Beatrice Deck Trial";
    font-weight: 800px;
    font-size: 48px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 2px;
    margin-left: 50px;

    width: max-content;
}

.collections h1 .col-span{
    display: block;
    margin-top: -30px;   
}

.collections h1 .year-span{
    display: block;
    margin-top:-30px;
    
}

.collections .container .all-link{
    font-family:"Beatrice Headline Trial";
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    line-height: 40px;
    text-decoration: none;
}

.collections .container a{
    font-family:"Beatrice  Trial";
    font-weight: 400;
    color: rgba(138, 138, 138, 1);
    line-height: 16px;
    text-decoration: none;
    
}

.collections .container .filter{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid rgba(223, 223, 223, 1);

}

.collections .container .filter .left-filter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-left: 50px;
}

.collections .container .filter .right-filter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 100px;
    align-items: flex-start;
    margin-right: 50px;
}

.collections .container .filter .right-filter .sorts{
    color:rgba(94, 94, 94, 1);
}

.collections .container .filter .right-filter p{
    font-family: Beatrice Trial;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 1);
}

.collections .container .filter .right-filter .sorts p:nth-child(n+2){
    color:rgba(94, 94, 94, 1);
    margin-top: -15px;
}

.collections .container .filter .left-filter{
    font-family: Beatrice Trial;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0px;

}

.collections .container .product-container{
   margin-left: 22px;
   position: relative;    
}

.collections .container .product-container>img{
    width: 366px;
    height: 376px;
    border: 1px solid rgba(215, 215, 215, 1); 
    
}

.collections .container .product-container .product-type{
    font-size: 12px;
    font-family: "Beatrice Deck Trial";
    font-weight: 500;
    color: rgba(0, 0, 0, 0.66);
    line-height: 100%;

    margin-top: -25px;
    
}

.collections .container .product-container .product-description{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    
    line-height: 100%;
    letter-spacing: 0px;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}

.collections .container .product-container .add-button img{
    position: absolute;
    bottom: 38px;
    left: 171px;
    bottom: 3px;
    left: 6px;
}

.collections .container .product-container .add-button{
    height: 34px;
    width: 34px; 
    background-color: rgba(220, 220, 220, 0.44);
    border: 1px rgba(12, 12, 12, 1);
    position: relative;
    bottom: 37px;
    left: 160px;

    font-size: 10px;
    text-align: center;
    color: rgba(12, 12, 12, 1);
  
}

.collections .more-button{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:-30px;
}

.collections .more-button p{
    font-family: Beatrice Trial;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0px;
    color:rgba(138, 138, 138, 1);

}

.collections .more-button img{
    margin-top: -14px;
    height: 20px;
    transform: rotate(90deg);

}

.design {
    margin-top: 230px;
}


.design .text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.design .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
    
}

.design .text-container h1{
    font-family: "Beatrice Deck Trial";
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.design .text-container p{
    font-family: "Beatrice Trial";
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    
    letter-spacing: 2px;
    text-align: center;
    width: 685px;
    height: 96px;

    margin-top: 15px;

}

.design .container .image-container img{
    width: 317px;
    height: 389px;
    opacity: 1;
    border: 1px solid rgba(215, 215, 215, 1);

}

.design .container .image-container .style2,.style4{
    margin-top: 130px;
}

.footer{
    background-color: rgba(228, 224, 224, 0.66);
    height: 80%;
}

.footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-top: 180px;
}

.footer .container .left-section p {
    font-family: Inter;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: uppercase;

    color: rgb(97, 97, 97);

}

.footer .container h3{
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    
    line-height: 130%;
    letter-spacing: 4%;
    text-transform: uppercase;
    color:rgba(118, 118, 118, 0.749);

}



.footer .container .left-section{
    display: flex;
    flex-direction: column;
    align-items:flex-start;

    row-gap: 90px;
    
}

.footer .container .left-section .info-title{
    margin-bottom: 25px;
}

footer .container .left-section .language-title{

    margin-bottom: 25px;
}

.footer .container .right-section{
    display: flex;
    flex-direction: column;
    align-items:flex-start;   
    position: relative;
    
}

.footer .container .right-section .technologies-title{

    align-self:flex-start;  
    row-gap: 30px;

    
}


.footer .container .right-section p {
    font-family:Inter;
    font-weight:1000;
    font-style:black;
    font-size: 80px;
    line-height: 110.00000000000001%;
    letter-spacing: -2%;

}

.footer .container .right-section .vr{
    color: rgba(216, 216, 216, 0.749);
    position: relative;
}


.footer .container .right-section .logo{

    width: 33px;
    height: 33px;
    transform: rotate(45deg);
    background: linear-gradient(
        45deg,
        rgba(180, 180, 180, 0.473) 50%,
        black 50%
    );
    position: absolute;
    top: 45px;  
    left: 6px;
}

.footer .container .right-section span{
    margin-left: 10px;
    font-family: "Inter";
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
   
    line-height: 130%;
    letter-spacing: 0%;
   
}

.footer .container .right-section .near{
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0%;

    color:rgba(118, 118, 118, 0.749);   
    position: absolute;

    bottom: 145px;
    left: 160px;

    width: max-content;
}
















