*{
    padding: 0px;
    margin: 0px;
}

body{
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
    url("images/noisy-background.jpg");
    background-size: cover;}

.head .container{
    display: flex;
    justify-content:space-between;
    margin-left: 20px;
    align-items: center;
    width: 1400px;

    margin-top: 30px;
    padding: 20px;   
}

.head .container .menu-icon{
    width: 26px;
    height: 16px;
    
}

.left-section a{
    text-decoration: none;
    margin: 10px;
    color: rgb(0,0,0,1);
    font-size: 18px;
    font-family: "Beatrice Deck Trial";
    font-weight: 500;
    line-height: 100%;
}

.middle-section{
    display: flex;
    justify-content: center;   
}

.middle-section .amblem{
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background: linear-gradient(
        45deg,
        rgba(217,217,217,1) 50%,
        black 50%
    );
}

 
.left-section .menu-icon{
    width: 30px;
    height: 30px;
}

.container .right-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section .like-button{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 20px;
    background-color: #262222;
}

.right-section .like-button img{
    transform: rotate(-45deg);
    padding-top: 7px;
    padding-right: 2px;
}

.right-section .cart-button{
    height: 50px;
    width: 76px;
    border:1px solid #262222;
    border-radius: 22px;
    background-color: #262222;
    color: #F5F5F5;

    font-size: 12px;
    font-family: "Beatrice Deck Trial";
}

.right-section .shop-button{
    height: 50px;
    width: 50px;
    background-color: #fff;
    margin-left: -5px;
    
    border: 7px solid rgba(0, 0, 0, 1);
    border-radius: 100%;

    
}

.right-section .shop-button img{
    width: 20px;
    height: 19px;
    padding-left: 1px;
    padding-top: 2px;
}

.right-section .profile-button{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 20px;
    background-color: #262222;
    color: #F5F5F5;
}

.right-section .profile-button img{
    padding-top: 4px;
    opacity: 1;
}   

.product .container{
    display: flex;
    justify-content: center;
    align-items: center;
 
    margin-top: 90px;

    gap: 100px;
    
}

.product .container .fav-icon{
    position: absolute;
    width: 34px;
    height: 34px;
    color: black;
    transform: rotate(-45deg);
}

.product .container .left-part{
   
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.product .container .left-part >img{
    width: 367px;
    height: 438px;
    border: 1px solid rgba(217, 217, 217, 1);

}

.product .container .left-part .small-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product .container .left-part .small-images img{
    width: 64px;
    height: 78px;
    opacity: 0.44;
    border-width: 1px;
    display: block;
    border: 1px solid rgba(217, 217, 217, 1);
}

.product .container .left-part .small-images img:first-child{
    opacity: 1;
}

.product .container .right-part {
    border: 1px solid rgba(217, 217, 217, 1);
    
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
    gap: 25px;

    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;

    position: relative;
    
}

.product .container .black-fav-icon{
    width: 12px;
    height: 12px;

    transform: rotate(-45deg);

    position: absolute;
    top: 220px;
    right: 320px;
}

.product .container .right-part h3{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;

}

.product .container .right-part p{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;

}

.product .container .right-part .tax{
    font-family: Beatrice Trial;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
    color:rgba(0, 0, 0, 0.55);
    margin-top: -10px;

}

.product .container .right-part .measure{
    font-family: Beatrice Trial;
    font-weight: 400;
    font-style: regular;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.55);

    margin-top: -10px;

}

.product .container .right-part .cost{
    margin-top: -10px;

}

.product .container .right-part .description{
    width:245px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    margin-top: 10px;   
}

.product .container .right-part .color-title{
    margin-bottom: -20px;
    font-family: Beatrice Deck Trial;
    font-weight: 250;
    font-style: Thin;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2px;

}

.product .container .right-part .colors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    cursor:pointer;

}

.product .container .right-part .colors input{
    visibility: hidden;
    width: 35.24px;
    height: 36.17px;

}
.product .container .right-part .colors label{
    width: 35.24px;
    height: 36.17px;
}

.product .container .right-part .colors span{
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
}

.color-box input:checked + span {
  border: 3px solid #000; 
}


.product .container .right-part .colors .cream-box{
    background-color: rgba(217, 217, 217, 1);
}

.product .container .right-part .grey-box{
    background-color: rgba(169, 169, 169, 1);
}

.product .container .right-part .black-box{
    background-color: rgba(0, 0, 0, 1);
}

.product .container .right-part .green-box{

    background-color: rgba(166, 214, 202, 1);
}

.product .container .right-part .white-box{
    background-color: rgba(255, 255, 255, 1);
}

.product .container .right-part .blue-box{
    background-color: rgba(185, 193, 232, 1);
}

.product .container .right-part .size-title{
    font-weight: 250;
    font-style: Thin;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2px;

    margin-bottom: -20px;

}

.product .container .right-part .size{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product .container .right-part .size div{
    width: 35.24px;
    height: 36.17px;
    border: 1px solid rgba(163, 163, 163, 1);
}

.product .container .right-part .size div p{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 10px;
    line-height: 36.17px;
    letter-spacing: 1px;
    text-align: center;
}

.product .container .right-part button{
    background-color: rgba(217, 217, 217, 1);
    width: 100%;
    height: 40px;
    border: none;

    font-family: "Beatrice Deck Trial";
    font-weight: 500;
    font-style: medium;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
    text-align: center;

    margin-top: -10px;
}

@media (max-width: 768px) {

    body {
    padding-bottom: 50px; 
  }
    .product .container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
    }

    .product .container .left-part{
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 100%;
    }
    .product .container .left-part img{
        width: 100%;
    }
    .product .container .left-part .small-images{
        flex-direction: row;
    }
    .product .container .right-part{
        border: none;
        padding: 0px;
        margin: 0px;
        width: 100%;
        overflow: hidden;
    }
    .product .container .right-part button{
    
        position:fixed;
        width: 100%;
        bottom: 0;
        text-align: center;
        padding: 0;
        margin: 0;
    
    
    }
    .head .container{
        width: 100%;
        flex-wrap: nowrap;
    }
    .head .container .left-section{
        display: flex;
    }
}

