*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body , html{
    width: 100%;
    height : 100%;
    
}
a,button,input{
    cursor: pointer;
}

body{
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
    url("images/noisy-background.jpg");
    background-size: cover;
}

.head .container{
    display: flex;
    justify-content:space-between;
    margin-left: 20px;
    align-items: center;
    width: 1400px;

    margin-top: 30px;
    padding: 20px;   
}

.head .container .menu-icon{
    width: 26px;
    height: 16px;
    
}

.left-section a{
    text-decoration: none;
    margin: 10px;
    color: rgb(0,0,0,1);
    font-size: 18px;
    font-family: "Beatrice Deck Trial";
    font-weight: 500;
    line-height: 100%;
}

.middle-section{
    display: flex;
    justify-content: center;   
}

.middle-section .amblem{
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background: linear-gradient(
        45deg,
        rgba(217,217,217,1) 50%,
        black 50%
    );
}

.left-section .menu-icon{
    width: 30px;
    height: 30px;
}

.container .right-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section .like-button{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 20px;
    background-color: #262222;
}

.right-section .like-button img{
    transform: rotate(-45deg);
    padding-top: 7px;
    padding-right: 2px;
}

.right-section .cart-button{
    height: 50px;
    width: 76px;
    border:1px solid #262222;
    border-radius: 22px;
    background-color: #262222;
    color: #F5F5F5;

    font-size: 12px;
    font-family: "Beatrice Deck Trial";
}

.right-section .shop-button{
    height: 50px;
    width: 50px;
    background-color: #fff;
    margin-left: -5px;
    
    border: 7px solid rgba(0, 0, 0, 1);
    border-radius: 100%; 
}

.right-section .shop-button img{
    width: 20px;
    height: 19px;
    padding-left: 1px;
    padding-top: 2px;
}

.right-section .profile-button{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 20px;
    background-color: #262222;
    color: #F5F5F5;
}

.right-section .profile-button img{
    padding-top: 4px;
    opacity: 1;
}

.products{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.products .menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-top: 160px;
}

.products .menu-container .menu{
    
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: flex-start;
}

.products .menu-container .menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Beatrice Deck Trial;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2px;
    background-color: transparent;

}

.products .menu-container .menu .menu-title{
    cursor: pointer;
    font-weight: bold;
    padding: 20px;
    background: #f3f3f3;
    border-bottom: 1px dashed rgba(201, 201, 201, 1);
    display: flex;
    justify-content: space-between;
    gap:90px;
    background-color: transparent;

}

.products .menu-container .menu .menu-title span img{
    width: 80%;
    height: 80%;

}

.products .menu-container .menu .sub-menu{
    display: none;
    padding: 10px;
    margin-left: 10px;
    
}

.products .menu-container .menu .sub-menu input{
    display: inline;
    height: 60%;
    width: 10%;
}

.products .menu-container .menu .sub-menu p{
    display: inline;
    text-align: center;
}
.products .menu-container .menu .sub-menu li {
    padding: 5px 0;
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2px;
    color: rgba(1, 1, 1, 0.66);

}
.products .menu-container .menu ul li:active{
    border: none;
}

.products .menu-container .menu ul li:active + .sub-menu{
    display: block;
}

.products .menu-container h3{
    font-family: Beatrice Deck Trial;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2px;
}

.products .menu-container h4{
    font-family: Beatrice Deck Trial;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2px;
    margin-bottom: -20px;
}

.products .menu-container p{
    font-family: Beatrice Deck Trial;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2px;
}

.products .menu-container .avai{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2px;  
}

.products .menu-container .oos{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2px;
}

.products .menu-container p span{
    font-family: Beatrice Deck Trial;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2px;
    color: rgba(0, 14, 138, 1);
    margin-left: 15px;
}

.products .menu-container .sizes{
    display: flex;
    gap: 5px;
    border-bottom: 1px dashed rgba(201, 201, 201, 1);
    padding-bottom: 12px;
}

.products .menu-container .sizes div{
    width: 38px;
    height: 39px;
    opacity: 1;
    border:1px solid rgba(163,163,163,1);
    
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 39px;
    letter-spacing: 0px;

    text-align: center;
}

.products .menu-container .sizes input{
    width: 22px;
    height: 22.58px;
    opacity: 1;
    border:1px solid rgba(163, 163, 163, 1);
}

.products .container{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-top: 80px;
}

.products .container .top{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: flex-start;
    align-items: flex-end;
    column-gap: 30px;
}

.products .container .top .left-part{
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 12px;
}

.products .container .top .left-part p{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
    color:rgba(0, 0, 0, 0.66);
}

.products .container .top .left-part p span{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
    color:rgba(0, 0, 0, 1);
}


.products .container .top .left-part h1{
    font-family: Beatrice Deck Trial;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.products .container .top .left-part input{
    width: 367px;
    height: 50px;
    background-color: rgba(217, 217, 217, 1);
    opacity: 1;
    border: none;
    padding-right: 20px;
    padding-left: 40px;
    background-image: url(icons/search-icon.svg);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position-y: center;
    background-position-x: 10px;
}

.products .container .top .left-part input::placeholder{
    color: rgba(0, 0, 0, 0.66);
    text-align: right;
    font-family: Beatrice Deck Trial;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2px;

}

.products .container .top .right-part{
    display: grid;
    grid-template-columns: repeat(5, max-content);
    row-gap: 3px;
    column-gap: 12px;
}

.products .container .top .right-part button{
    width: 101px;
    height: 24px;
    opacity: 1;
    background-color: transparent;
    border: 0.5px solid rgba(163, 163, 163, 1);
    
    font-family: Beatrice Trial;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;

    color:rgba(94, 94, 94, 1);

}

.products .container .top .right-part button:first-child{
    color: rgba(0, 0, 0, 1);
}

.products .container .bottom{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: flex-start;
    row-gap: 20px;
    column-gap: 40px;
}



.products .container .product-container img{
    width: 265px;
    height: 314px;
    opacity: 1;
    border:1px solid rgba(217, 217, 217, 1);

}

.products .container .product-container .product-t{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    color:rgba(0, 0, 0, 0.66);
    margin-top: 3px;
    position: relative;
   
}

.products .container .product-container .product-d{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: capitalize;
    color:rgba(0, 0, 0, 1);
    margin-top: 7px;
    display: flex;
    justify-content: space-between;   
}

.products .container .product-container .color-box{
    width: 10px;
    height: 10px;
    background-color: rgba(235, 231, 219, 1);
    border: 0.5px solid rgba(163, 163, 163, 1);
    position: absolute;
    bottom: 42.5px;
    left: 445px;
}

.products .container .product-container .bcolor-box{
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 1);
    border: 0.5px solid rgba(163, 163, 163, 1);
    position: absolute;
    bottom: 42.5px;
    left: 770px;
}

.products .container .product-container .cost{
    font-family: Beatrice Deck Trial;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 1);
}